
*.obj
*.exe
*.log
*.tlog
*.htm
*.db
*.suo
*.db-shm
*.opendb
*.ipch
*.sarif
*.xml
*.sbr
*.db-wal
*.tmp
*.pdb
*.pch
*.pchast
*.ilk
*.recipe
*.lastcodeanalysissucceeded
ShevTest/Debug/ShevTest.vcxproj.FileListAbsolute.txt
*.idb
ShevTest/Release/CodeAnalysisResultManifest.txt
ShevTest/Release/ShevTest.vcxproj.FileListAbsolute.txt
ShevTest/Release/ShevTest.res
